.old-standard-tt-regular {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
  }

  body {
    margin: 0; 
  }

 .all-content {
    width: 320px;

    background-color: white;
    box-shadow: 10px 0 10px rgba(145, 142, 142, 0.3); 
 
  }

  header {
    padding: 20px;
  }

 .header__icons {
    display: flex;
    align-items: center;
    gap: 20px;
  }


  .header__icons img:nth-child(1) {
    margin-right: 10px;
  }
  
  .header__icons img:nth-child(2) {
    margin-right: 60px;
  }

  /*.categories {
    margin-top: 13%;
  }


  .categories__item a {
    text-decoration: none;
    margin-top: 20px;
    font-size: 16px;
    color: #1B1C21;
    font-family: "Old Standard TT", serif;
  }

  .categories__item :hover {
  border-left: 3px solid aqua;
    color: #7E7E82;
 
  }
*/


.categories__item {
  position: relative;
  left: 20px;
}

.categories__item a {
  text-decoration: none;
  font-size: 16px;
  color: #1B1C21;
  font-family: "Old Standard TT", serif;
  transition: color 0.3s ease;
}

.categories__item:hover a {
  color: #7E7E82;
}

.categories__item::before {
  content: "";
  position: absolute;
  left: -18px; 
  top: 50%; 
  transform: translateY(-50%) scaleY(0);
  width: 3px; 
  height: 22px; 
  background-color: #41F6D7;
  transition: transform 0.3s ease; 
}

.categories__item:hover::before {
  transform: translateY(-50%) scaleY(1);
}


  footer {
    margin-top: 116px;
    margin-left: 20px;
  }

  .footer__icons {
    display: flex;
    gap: 20px;
  }

  .footer__text_1 {
    font-family: "Old Standard TT", serif;
    font-size: 16px;
    color: #1B1C21;
  }

  .footer__number {
    font-family: "Old Standard TT", serif;
    font-size: 24px;
    color: #1B1C21;
    font-weight: bold;
  }

  .footer__language {
    display: flex;
    gap: 15px;
  }

  .footer__languages a {
    font-family: "Old Standard TT", serif;
    font-size: 16px;
    color: #1B1C21;
    text-decoration: none;
  }

  .footer__languages a:hover {
    color: #7E7E82;
  }